# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
.settings/org.eclipse.buildship.core.prefs
app/.settings/org.eclipse.buildship.core.prefs

**/*.class
app/.classpath
app/.project
